:root {
  --purple: #a248ec;
  --green: #5acf40;
  --red: #ff5675;
  --background: #2c2730;
  --shapes: #ffffff;
  --text-title: #ffffff;
  --text: #fbf7ff;
  --text-light: #ebe3f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px 'Poppins', Arial, sans-serif;
  background: var(--background);
  color: #121214;
}

input,
textarea {
  font-family: 'Poppins';
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button,
.checkmark {
  cursor: pointer;
}
